:root 
{
    --cmp-c-VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --cmp-c-DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --cmp-c-GrayishBlue: hsl(212, 23%, 69%);
    --cmp-c-LightGrayishBlue: hsl(210, 46%, 95%);   

    --cmp-f-1: "Manrope", sans-serif;
}


body {
    margin: 0;
    background-color: var(--cmp-c-LightGrayishBlue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.15em 6.4%;
}

* {
    box-sizing: border-box;
}

* :first-child {
    margin-top: 0;
}

* :last-child 
{
    margin-bottom: 0;
}
